@media (min-width: 768px) {
    .container {
        display: flex;
    }
    .container-1 {
        display: flex;
        justify-content: space-between;
    } 
    
}




.container-1 div {
    padding: 10px;
} 
.nav_flex{
    margin: 1.5rem;
    list-style-type: none; 
}

.flex_box-1{
    flex:1;
}
.flex_box-2{
   
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

footer{
    background-color: goldenrod;
}
